{% extends "backOffice/layoutBackOffice.html.twig" %}

{% block title %}Document - Edit{% endblock %}
{% block select2css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}

{% block container %}
    <h1>Editer le Document</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-doc-btns">
        <a href="{{ path('bo_documents') }}" class="text-decoration-none btn btn-outline-secondary"><i class="fa-solid fa-chevron-left"></i> Retour</a>
        <button class="btn rounded-pill btn-primary">Editer</button>
    </div>
    {{ form_end(form) }}
    <form method="post" action="{{ path('bo_document_delete', {'id': document.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce document ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
        <div class="delete-btns pt-2">
            <button class="btn btn-outline-danger rounded-pill"><i class="fa-solid fa-trash"></i> Supprimer</button>
        </div>
    </form>

{% endblock %}

{% block select2js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>$('select').select2()</script>
{% endblock %}
