{% extends "backOffice/layoutBackOffice.html.twig" %}

{% block title %}ChallengeSym - Documents{% endblock %}

{% block container %}
{% if app.user.isValidate %}
    <h1>Mes Documents</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Date d'ajout</th>
                <th>Type</th>
                <th>Categories</th>
                <th>Protected</th>
                <th>Accès</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for documentOwn in documentsOwn %}
            <tr>
                <td>{{ documentOwn.id }}</td>
                <td>{{ documentOwn.filename }}</td>
                <td>{{ documentOwn.uploadAt ? documentOwn.uploadAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ documentOwn.type }}</td>
                <td>{% for categorie in documentOwn.categories %}
                    {{ categorie.name }} |
                {% endfor %}</td>
                <td>
                    {% if documentOwn.protected != null %}
                        <i class="fa-solid fa-lock"></i>
                    {% else %}
                        <i class="fa-solid fa-lock-open"></i>   
                    {% endif %}
                </td>
                <td>
                    {% if documentOwn.allowRoles[0] == "ROLE_ADMIN" %}
                       <div style="color: red;"> Administrateurs </div>
                    {% elseif documentOwn.allowRoles[0] == "ROLE_GESTIONNAIRE"%}
                        Gestionnaires
                    {% else %}
                        Utilisateurs
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('async_view_file', {'id': documentOwn.id }) }}" target="_blank" class="btn"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('async_download_file', {'id': documentOwn.id }) }}" class="btn"><i class="fa-solid fa-download"></i></a>
                    <a href="{{ path('bo_document_edit', {'id': documentOwn.id}) }}" class="btn"><i class="fa-solid fa-gear"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Documents</h1>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Date d'ajout</th>
                <th>Type</th>
                <th>Categories</th>
                <th>Protected</th>
                {% if is_granted("ROLE_ADMIN") %}
                <th>Propriétaire</th>
                {% endif %}
                <th>Accès</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.filename }}</td>
                <td>{{ document.uploadAt ? document.uploadAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ document.type }}</td>
                <td>{% for categorie in document.categories %}
                    {{ categorie.name }} |
                {% endfor %}</td>
                <td>
                    {% if document.protected != null %}
                        <i class="fa-solid fa-lock"></i>
                    {% else %}
                        <i class="fa-solid fa-lock-open"></i>   
                    {% endif %}
                </td>
                {% if is_granted("ROLE_ADMIN") %}
                <td>{{ document.owner.firstname }} {{ document.owner.lastname }}</td>
                {% endif %}
                <td>
                    {% if document.allowRoles[0] == "ROLE_ADMIN" %}
                       <div style="color: red;"> Administrateurs </div>
                    {% elseif document.allowRoles[0] == "ROLE_GESTIONNAIRE"%}
                        Gestionnaires
                    {% else %}
                        Utilisateurs
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('async_view_file', {'id': document.id }) }}" target="_blank" class="btn"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('async_download_file', {'id': document.id }) }}" class="btn"><i class="fa-solid fa-download"></i></a>
                    <a href="{{ path('bo_document_edit', {'id': document.id}) }}" class="btn"><i class="fa-solid fa-gear"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bo_document_new') }}" class="btn btn-outline-secondary rounded-pill">Ajouter</a>
{% else %}
    <h1>Documents</h1>

    <p>Vous devez attendre que votre compte soit valider par un administrateur pour accèder à cette page</p>
{% endif %}
{% endblock %}
