{% extends "backOffice/layoutBackOffice.html.twig" %}

{% block title %}ChallengeSym - Documents{% endblock %}

{% block container %}
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>UploadAt</th>
                <th>Type</th>
                <th>Categories</th>
                <th>Protected</th>
                <th>AllowRoles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.filename }}</td>
                <td>{{ document.uploadAt ? document.uploadAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ document.type }}</td>
                <td>{% for categorie in document.categories %}
                    {{ categorie.name }} |
                {% endfor %}</td>
                <td>
                    {% if document.protected != null %}
                        <i class="fa-solid fa-lock"></i>
                    {% else %}
                        <i class="fa-solid fa-lock-open"></i>   
                    {% endif %}
                </td>
                <td>{{ document.allowRoles ? document.allowRoles|json_encode : '' }}</td>
                <td>
                    <a href="{{ asset('uploads/' ~ document.filepath) }}" target="_blank"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('async_download_file', {'id': document.id }) }}"><i class="fa-solid fa-download"></i></a>
                    <a href="{{ path('bo_document_edit', {'id': document.id}) }}"><i class="fa-solid fa-gear"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bo_document_new') }}">Create new</a>
{% endblock %}
