{% extends "backOffice/layoutBackOffice.html.twig" %}
{% block title %}Categories{% endblock %}
{% block container %}
    <h3>Ajouter une catégorie</h3>

    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_GESTIONNAIRE") %}
        {{ form_start(form) }}
        <div class="form-cat-box">
            {{ form_row(form.name, {'attr' : { 'placeholder' : 'Nom de la catégorie...'}}) }}
            <button type="submit" class="btn btn-outline-primary">+</button>
        </div>
        {{ form_end(form)}}
    {% else %}
        <p>Vous n'avez pas accès à la gestion de catégories</p>
        <p>Vous pouvez quand même accèder à la liste des catégories crées</p>
    {% endif %}
    
    {# Liste des catégories #}
    
    {% for categorie in categories %}
        <div class="categorie-box">
            <div class="name-cat">{{ categorie.name }}</div>
            <div class="btn-cat">
                <a href="{{ path("async_remove_categorie", { id: categorie.id }) }}">
                    <i class="fa-solid fa-user-check"></i>
                </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
