<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{# <link rel="preload" href="{{ absolute_url(asset('build/app.js')) }}" as="script">
		<link rel="preload" href="{{ absolute_url(asset('build/app.css')) }}" as="style"> #}
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# {% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %} #}
	</head>
	<body>
		{% block body %}{% endblock %}
		{# <script src="{{ asset('build/app.js') }}"></script> #}
		<script src="https://kit.fontawesome.com/2f4cc170af.js" crossorigin="anonymous"></script>
		{# {% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %} #}
		{# {{ include('@MercurySeriesFlashy/flashy.html.twig') }} #}
	</body>
</html>
